accel_V1_port/**
accel_V1_read_adxl/**
accel_V1_rtc/**
accel_V1_timer_blinky/**
accel_V1.0/**
debugging_i2c/**
microSWIFT_V2_ClockSetTest/**
microSWIFT_V2_PowerOnExpansion/**
microSWIFT_V2_UART_Test/**
nucleo-u5a5-adxl355z/**

Debug/**
Release/**
Deployment/**

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# STM32CubeIde Files
*.prefs
*.list
*.metadata
**/microSWIFT_V2.2/Debug
**/microSWIFT_V2.2/Release
**/microSWIFT_V2.2/Deployment
**/test_bench/Debug
*.cyclo
*.proxy_cache
*.launch

#Mac Things
.DS_Store

#Backup files
*.bak
